main {

    .section-linguagem{
        display: flex;
        border: 1px solid;
        justify-content: end;
    }


    .div-linguagem {
        padding-right: 2em;
    }

    .itens-superiores {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .itens-meio {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .itens-inferiores {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #id-divs {
        /* border: 1px solid black; */
        padding: 2em;
        /* transform: rotate(45deg); */
        /* border-radius: 5em; */
    }

    #id-section {
        margin-bottom: 3em;
    }

    /* .div-1 {
        transform: rotate(-45deg);
    }

    .div-2 {
        color: black;
    }

    .div-3 {
        transform: rotate(45deg);
    }

    .div-4 {
        transform: rotate(-90deg);
    }

    .div-5 {
        /* transform: rotate(-30deg); */
    /* }

    .div-6 {
        transform: rotate(90deg);
    }

    .div-7 {
        transform: rotate(-110deg);
    }

    .div-8 {
        transform: rotate(180deg);
    }

    .div-9 {
        transform: rotate(110deg);
    } */

}