main {
    background-color: #0c0437;
    height: 47.6vw;
    .section-linguagem{
        display: flex;
        border-bottom: 1px solid #00FFFF;
        justify-content: end;
    }


    .div-linguagem {
        padding-right: 2em;
    }

    .itens-superiores {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    .itens-meio {
        display: flex;
        flex-direction: row;
        justify-content: space-around; 
    }

    .itens-inferiores {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
    }

    #id-divs {
        padding: 0em 3em 0em 3em;
        border: 2px solid #00FFFF; /* Cor de fundo */
        clip-path: polygon(
        10% 0,90% 0, /* Topo com cortes diagonais */
        100% 10%, 100% 90%, /* Laterais retas */
        90% 100%, 10% 100%, /* Base com cortes diagonais */
        0 90%, 0 10% /* Laterais retas */
        )
    }

    #id-section {
        margin-bottom: 5em;
    }

    .textos {
        font-size: 1.5em;
        color: white;
    }
    
}